{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h4>EDITAR PACIENTE</h4>
            <hr>
            <form action="{% url 'paciente_edit' paciente %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success" type="submit">Salvar</button>
                <a class="btn btn-danger" href="{% url 'paciente' %}">Cancelar</a>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'jquery.mask.min.js' %}"></script>
<script src="{% static 'mask.js' %}"></script>
{% endblock %}